.container{
    margin: 2rem;
    padding:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container input{
    padding: 1rem;
    border-radius: 2rem 0 0 2rem ;
    height: 3rem;
    width: 20rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: whitesmoke;
}
.container button{
    padding: 1rem;
    border-radius:0 2rem 2rem 0 ;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;   
    border: none;
    outline: none;
    background-color: beige;
  
}
.container button:hover{
    cursor: pointer;
}